node_modules
bower_components
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

# package-lock.json
# https://stackoverflow.com/questions/45022048/why-does-npm-install-rewrite-package-lock-json
package-lock.json
